.dropdown-container {
    position: relative;
    width: 500px;
    height: 300px;
}

.dropdown {
    background-color: white;
    color: #35408E;
    border: 1px solid #35408E;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="blue-800" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    font-size: 18px;
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 820px;
    right: 770px;
    text-align: center;
    padding: 12px 0;
    border-radius: 3px;
    cursor: pointer;
    left: 450px;
}

.dropdown option {
    background-color: white;
    color: #35408E;
}

.dropdown option:hover {
    background-color: #e0e0e0;
}
