.line-graph-container {
    width: 70%;
    height: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    position: absolute;
    bottom: 300px;
    right: 170px;
}

.line-graph-container .recharts-cartesian-axis-tick text {
    fill: #35408E; 
}

.line-graph-container .recharts-tooltip-item-name,
.line-graph-container .recharts-tooltip-item-value {
    fill: #35408E; 
}

.line-graph-container .recharts-tooltip-label {
    fill: #35408E; 
}

.avg-turnaround-time {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #35408E;
}

.avg-turnaround-time span {
    color: #35408E;
}