.summary-report-container {
    display: grid;
    grid-template-columns: repeat(2, auto); 
    gap: 10px; 
    justify-content: center;
    align-items: center; 
    padding: 200px;
    margin-left: 900px;

}

.summary-card {
    background-color: white;
    width: 270px; 
    height: 85px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 15px; /* Adds spacing between cards */

}

.summary-header {
    background-color: #35408E;
    color: white;
    font-size: 14px;
    padding: 8px 0;
}

.summary-value {
    font-size: 18px;
    color: #333;
    padding: 10px 0;
}
